<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace作为访问crud语句的标志 -->
<mapper namespace="com.zhiyou.mapper.UserMapper">

<cache />
    <select id="select1" parameterType="java.lang.Integer" resultType="user">
         select * from t_user where id = #{id}
       
    
    </select>
	
    
</mapper>