<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace作为访问crud语句的标志 -->
<mapper namespace="user">
	<!-- 
		id:crud语句的唯一标志
		resultType:返回结果的类型，如果是集合，限定是泛型
	 -->
	<select id="selectAll" resultType="com.zhiyou100.entity.User">
		select * from t_user
	</select>


	<!-- 
	<delete id=""></delete>
	<insert id=""></insert>
	<update id=""></update> 
	-->
	
</mapper>