<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        <!-- 配置controller
        name属性就是控制器controller的访问名字，一般加/ -->
        

             <!-- 
   	扫描base-package这个包，或者子包下的类。
   	如果发现类的头部有注解@Component，将次类初始化，默认调用无参的构造方法
   	并且对象的名字，默认是类名首字母小写
    -->
    
        <context:component-scan base-package="com.ali" />
        <!-- spring整合Mybatis步骤1：配置数据库的连接
	具有连接池数据源的，一般使用c3p0或者dbcp
	这里需要指定一些属性：	
		1、连接数据库的4大件
		2、c3p0的属性
	-->
	   <!--  <bean name="user" class="com.zhiyou.entity.User"/> -->
        <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/oa"/>
		<property name="user" value="root"/>
		<property name="password" value="root"/>
		<property name="maxPoolSize" value="20"/>
		<property name="minPoolSize" value="5"/>
	</bean>
        <!-- spring整合Mybatis步骤2：配置SqlSessionFactory对象
	这里需要指定一些属性：	
		1、数据源对象
		2、mybatis的配置文件的位置，
			也可以不配置,将mybatis的配置文件的所有属性，在SqlSessionFactoryBean的属性中配置起来
			一般不推荐，因为有些复杂属性还是配置在mybatis的配置文件中里比较直观。
		3、mapping文件的位置
			也可以不配置，第2步中如果引用使用mybatis的的配置文件
	-->
	<bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
		
	</bean>  
	<!-- spring整合Mybatis步骤3：配置SqlSessionTemplate对象
	这里需要指定一些属性：	
		1、SqlSessionFactory对象
	-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.ali.mapper"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>
	
	<bean name="template" class="org.mybatis.spring.SqlSessionTemplate"  scope="prototype">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>  
	<!-- spring整合Mybatis步骤4：配置DataSourceTransactionManager对象
	这里需要指定一些属性：	
		1、dataSource对象
	-->
	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- spring整合Mybatis步骤5：使用xml完成事务的配置
	 -->
	<aop:config>
		<aop:pointcut id="trPointCut" expression="execution(public * com.ali.service.impl.*.*(..))" />
		<aop:advisor advice-ref="myTx" pointcut-ref="trPointCut" />
	</aop:config>
	<tx:advice id="myTx" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="delete*" read-only="false"/>
			<tx:method name="update*" read-only="false"/>
			<tx:method name="insert*" read-only="false"/>
			<tx:method name="select*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	<aop:aspectj-autoproxy proxy-target-class="true"/>  
        
    
    
          
 </beans>